@import 'navbar.scss';
@import 'variables.scss';

html, body, #react-app, #react-app > .container-fluid, .page-parent {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

main {
    margin-top: 62px;
    padding: 20px;
    max-width: $content-max-width;
    width: 100%;
}

.page-parent {
    display: flex;
    justify-content: center;
}

.project-summary-tiles {
    display: flex;
    flex-direction: row;
}