@import 'navbar.scss';
@import 'variables.scss';
@import 'contact.scss';
@import 'project.scss';
@import 'skill.scss';

* {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
}

html {
    font-size: 100%;
}

html, body, #react-app, #react-app > .container-fluid, #page-parent {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    overflow: hidden;
}

main {
    width: 100%;
    flex: 1 0 auto;
    padding-bottom: 0px;
    width: calc(100vw - 18px)
}

#page-parent {
    height: calc(100vh - #{$navbar-height});
    overflow: auto;
    margin-top: 62px;
    display: flex;
    flex-direction: column;

    #scroll-to-top-btn {
        position: absolute;
        bottom: 36px;
        right: 50px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }

    #scroll-to-top-btn.show {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.5s linear;
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px; //Removed to fix anchor issue.
    min-height: calc(100vh - #{$navbar-height});
}

.section.about {
    min-height: calc(100vh - #{$navbar-height}); //Interpolate
}

.content-container {
    max-width: $content-max-width;
    width: 100%;
}

//Sticky footer solution:
//https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin-top: 0px;

    > div {
        max-width: $content-max-width;
        width: 100%;
    }
}

.smooth-scroll {
    scroll-behavior: smooth;
}

#About {
    h2 {
        margin-top: 0px;
    }
}

.disabled-link {
    color: inherit;
}

.disabled-link:hover {
    text-decoration: none;
    color: inherit;
}

.thisisatest-style {
    color: red;
}