@import 'variables.scss';

$summary-skill-size: 100px;

.skill-summary-tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .skill-summary-tile {
        width: $summary-skill-size;
        height: $summary-skill-size;
        min-width: $summary-skill-size;
        min-height: $summary-skill-size;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 30px;

        img {
            display: block;
            max-width: $summary-skill-size;
            max-height: $summary-skill-size;
            width: auto;
            height: auto;
        }
    }
}
